
.container-fluid {
    background-color: #2B2A2F;
    min-height: 100vh;
  }
  .container{
   align-items: center;
   padding: 10px;
   width: 100;
  }
  .container .text{
  color:  #F77E17;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  }
  .animate__backInDown,.animate__backInRight{
    animation-duration: 2s;
  }
  .text ,h1, h3, span{padding: 5px;}
  .img img{
    width: 100%;
    object-fit: contain;
     background: transparent;
     border: 5px solid transparent;
    }
     .img img:Hover{
      border-left: 5px solid #F77E17;
     border-bottom: 5px solid #F77E17;
  }
   button{
    background-color: #F77E17;
    color: white;
    padding: 4px;
  }
 
  #helo {
    animation: pulse 4s linear normal;
  }
  
  @keyframes pulse {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  
    100% {
      opacity: 0;
    }
  }
  
  #helo:after {
    content: '';
    animation: spin 4s linear infinite;
  }
  
  @keyframes spin {
    0% {
      content: 'React JS';
    }
    50% {
      content: 'Front End';
    }
    100% {
      content: 'Developer';
    }
  }