.container-fluid {
  background-color: #2B2A2F;
  min-height: 100vh;
}

.container {
  align-items: center;
  padding: 20px 10px;
  width: 100;
}

.hr-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

hr {
  flex: 1;
  width: 50%;
  border: none;
  border-top: 2px solid #F77E17;
  /* Adjust the HR properties as needed */
  margin: 0 10px;
  /* Adjust the margin to separate the circles from the hr */
}

.circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: transparent;
  /* Set the background to transparent */
  border: 2px solid white;
  /* Set the border color to white */
  /* Adjust the circle color as needed */
}
.card{
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: #27262B;
  color: white;
  min-height: 200px;
  border:2px solid ;
  transition: transform .2s;

}
 .icon, .des, .heading {
  padding: 5px 0 10px 0;
  cursor:default;
}
.card:hover{
  background-color: transparent;
  border:2px solid #F77E17 ;
  transform: scale(1.1);
}
.card .icon:hover{
  color: #F77E17;
}.card .des:hover{
  color: #F77E17;
}.card .heading:hover{
  color: #F77E17;
}
.animate__zoomInLeft{

  animation-duration: 2s;
}