.container-fluid {
  background-color: #2B2A2F;
  min-height: 100vh;
}

.container {
  align-items: center;
  padding: 20px 10px;
  width: 100;
}

.hr-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

hr {
  flex: 1;
  width: 50%;
  border: none;
  border-top: 2px solid #F77E17;
  /* Adjust the HR properties as needed */
  margin: 0 10px;
  /* Adjust the margin to separate the circles from the hr */
}

.circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: transparent;
  /* Set the background to transparent */
  border: 2px solid white;
  /* Set the border color to white */
  /* Adjust the circle color as needed */
}
.skill {
display: flex;
flex-direction: row;
text-wrap: balance;
}
.skill p,.skill h3{
  color: white;
}
p{
  font-size: smaller;
}
.skill h3:hover{
color: #F77E17;
}
.animate__lightSpeedOutLeft,.animate__lightSpeedOutRight{
  animation-duration: 2s;

}